#{extends 'main.html' /}
#{set title:'Home' /}

<h2>QrCode for customer ${customer.name}</h2>

#{qrcode customer.name, size:150 /}

<h2>Current lead check</h2>

#{meter title:'Conversion sales rate', value:70 /}

<h2>Some random graphic</h2>

#{linechart title:'Some data', labelX: 1..10, labelY:1..4, data:[2, 4, 6, 6, 8, 2, 2.5, 5.55, 10, 1] /}

<h2>Some sales graphic</h2>

#{chart.lc title:'Sales of customer ' + customer.name, labelY:[0,10,20,30,40,50], labelX:['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'], data:customer.orders.subList(0, 6), field:'cost' /}


